.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 16px;
}

.item-2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.item-6 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.item-7 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}