.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 16px;
}

.item-8 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.item-9 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.item-10 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.item-11 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}